<h1>Stupid coaching</h1>
<p>Ask something</p>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What's the question?">
  <input type="submit" value="Ask!">
</form>
